h2
{
  font-size: 20px;
  color:#37474f;
  margin:0.6em 0 0.4em 0;
  font-weight:normal;
}


input
{
  width: 100%;
  border-bottom: 2px solid #37474f;
  padding:0.6em 0;
  margin:0;
  font-size:14px;
  color:#333;
  padding:0.5em 0 0.5em 0.5em;
  border:none;
}

/*.content{
  border:1px solid #37474f;
  width:95%;
  margin:auto;
}*/

.sentence
{
  font-family: serif;
  font-size:18px;
}

.generated
{
  margin:0 0 0 20px;
  font-family: serif;
  font-size:18px;
  width:50%;
  height:20%;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bbb;
}


button
{
  margin:0;
}


.mode
{
  background-color: #00796b;
  font-family: Roboto;
  font-size: 14px;
}

.mode:hover
{
  background-color:#26a69a;
}

.delete
{
  background-color: #d32f2f;
  font-family: Roboto;
  font-size: 14px;
}

.delete:hover
{
  background-color:#e53935;
}

.input-field
{
  display: flex;
  height: 2em;
}

.input-name
{
  display: flex;
  height: 2em;
  margin:1em 0;
}

.input-name .name
{
  width:75%;
}


.saved_search
{
  margin-top:1.5em;
}

ul.saved_items
{
  width:100%;
  margin:0 0 4em 0;
  padding:0;
  display:block;
}

ul.saved_items li
{
  list-style: none;
  margin:10px 0;
}

ul.saved_items li input
{
  width:92%;
  padding:0.5em 0 0.5em 0.5em;
}

ul.saved_items li .btn-li
{
  margin-right:2px;
}


ul.saved_items li button
{
  right:0;
  float:right;
  margin-right:1em;
}

