#body
{
  margin:10px;
}

#generate
{
  background-color:#dd2c00;
  color:white;
  margin:0 0 0 30px;
  display:inline-block;
  font-size:14px;
}

input{
  border: 2px solid #37474f;
  border-radius:5px;
  display:inline-block;
  width:70%;
  height:24px;
  font-size:16px;
  padding:3px;
}